@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

h1 {
  @apply text-2xl lg:text-4xl mb-4 lg:mb-10;
}

@theme {
  --font-lexend: "Lexend", sans-serif;
  --color-light-green: rgba(240, 255, 217, 0.6);
  --color-mid-green: rgba(241, 247, 230, 0.5);
  --color-grey-green: #b0cfba;
  --color-light-grey: #d3e3d8;
  --color-dark-blue: #051f24;
  --color-grey-blue: #0f5e6e;
}
